@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-courier), monospace !important;
  }
} 

@layer utilities {
  .text-primary {
    color: var(--text-primary);
  }
  
  .text-secondary {
    color: var(--text-secondary);
  }
}

:root {
  --text-primary: #d4d4d4;
  --text-secondary: #8467db;
}